.spacer {
  flex: 1 1 auto;
}
a {
  color: var(--light-mint);
  text-decoration: none;
  &:hover {
    color: var(--green-accent);
  }
}
mat-toolbar {
  background-color: var(--medium-gray);
  color: white;
}
mat-toolbar-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
mat-toolbar-row mat-icon-button {
  color: white;
}
mat-toolbar-row mat-icon-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
mat-toolbar-row mat-icon-button:focus {
  outline: none;
}
mat-toolbar-row mat-icon-button:active {
  background-color: rgba(255, 255, 255, 0.2);
}
