.container {
  display: flex;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  padding: 30px;
  flex-wrap: wrap;
}

.left-side {
  flex: 1;
  background: url('/assets/images/bg-img.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  .resume-img {
    width: 350px;
    height:300px;
    border-radius: 100px;
    max-width: 500px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  }
}

.right-side {
  flex: 1;
  background-color: #222222;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: white;
  min-height: 100vh;
}

h2 {
  margin-bottom: 30px;
  font-weight: 600;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 17px;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 35px;
  color: #ddd;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  width: 600px;
  align-self: center;
  border-radius: 12px;
  border: 1px solid #555;
  background-color: #3a3a3a;
  color: #fff;
  height: 20px;
}
// input::placeholder {
//    color: #ccc;
// }
input:focus {
  outline: none;
  border: 1px solid #4caf50;
  background-color: #444;
}
small{
    color: #ff6b6b;
    font-size: 15px;
    margin-left: 30px;
}
.create-btn {
  margin-top: 20px;
  padding: 12px;
  background-color: #3cb662;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  height: 40px;
  width: 400px;
  align-self: center;
}
.create-btn:hover{
  background-color: #34a654;
}

.login-link {
  margin: 15px 0;
  font-size: 16px;
  margin-left: 30px;
  margin-top: 20px;
}

.login-link a {
  color: #3ea05d;
  text-decoration: none;
  font-size: 16px;
}

.divider {
  text-align: center;
  margin: 20px 0;
  color: #999;
}

.social-buttons {
  display: flex;
  gap: 20px;
  width: 400px;
  align-self: center;
  margin-top: 10px;
  a{
    text-decoration: none;
  }
}

.social-buttons button {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #222222;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #fefefe;
}

.social-buttons button:hover{
  background: #444444;
}

.social-buttons img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  border-radius: 20px;
}
.google-btn,.github-btn{
 font-size: 14px;
}

.social-buttons img:hover {
  transform: scale(1.1);
}
