<div class="loading-container">


  <div class="center-content">

    <div class="loader"></div>

    <p class="subtitle">
      Just a moment...<br />
      We’re extracting your skills and experience from your resume.
    </p>

    <div class="icons-row">
      <img src="assets/icons/resumes-icon.png" alt="Resume Icon" class="icon" />
      <div class="loader"></div>
      <img src="assets/images/laptop.png" alt="Laptop" class="icon" />
      <div class="loader"></div>
      <img src="assets/icons/data-icon.png" alt="Data Icon" class="icon" />
    </div>
  </div>
</div>
