<div class="upload-container" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
  <div class="upload-box">
    <h2>Upload Your Files</h2>
    <div class="icon">
      <img src="assets/images/Icon.png" alt="Upload Icon" />
    </div>
    <p class="drop-text">Drag and drop a file here</p>

    <input type="file" accept=".pdf" id="fileInput" (change)="onFileSelected($event)" hidden>
    <label for="fileInput" class="upload-button">Upload</label>

    <div *ngIf="errorMessage" class="error-box">
      {{ errorMessage }}
    </div>
  </div>
</div>
