.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  backdrop-filter: blur(4px);          /* subtle blur */
  background-color: rgba(0, 0, 0, 0.15); /* very light transparent dark overlay */

  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  width: 600px;
  // max-width: 500px;
  background-color: #222;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  position: relative;
 height: 600px;;

  padding: 10px;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  z-index: 10;
}

.modal-content {
  display: flex;
  min-height: 400px;
}

.left-section {
  flex: 1;
  background-image: url('/assets/images/bg-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;;
}


.resume-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}
.right-section {
  margin-top: 148px;
  background-color: #222;
  padding: 30px;
  color: white;
  width: 100%;
  border-radius: 10px;
}


h2 {
  text-align: center;
  margin-bottom: 16px;
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  font-size: 1rem;
  color: #ccc;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #555;
  background: #333;
  color: #fff;
  font-size: 1rem;
}

.error {
  color: #f66;
  font-size: 0.875rem;
}

button[type="submit"] {
  padding: 12px;
  background-color: #3cb662;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #34a654;
}



@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
