.container {
  display: flex;
  min-height: 100vh;
  background-color: #111;
  color: white;
  font-family: 'Segoe UI', sans-serif;
}

.left-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/images/Green.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;



  .resume-img {
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 30%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
  }

}

.right-section {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #111;

  h2 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    label {
      font-size: 14px;
      margin-bottom: 5px;
    }

    input {
      padding: 10px;
      border: none;
      border-radius: 10px;
      background-color: #2a2a2a;
      color: white;

      &:focus {
        outline: 2px solid #4caf50;
      }
    }

    .error {
      color: #f44336;
      font-size: 12px;
    }

    button {
      margin-top: 20px;
      background-color: #4caf50;
      border: none;
      color: white;
      padding: 12px;
      font-size: 16px;
      border-radius: 10px;
      cursor: pointer;

      &:disabled {
        background-color: #777;
        cursor: not-allowed;
      }
    }

  }

  p {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;

    a {
      color: #4caf50;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
