
:root {
  --dark-bg: #181818;
  --light-mint: #d0eed8;
  --green-accent: #3cb662;
  --medium-gray: #434343;
  --deep-green: #3a6d54;
}

// Global styles
html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark-bg);
  color: white;
  margin: 0;
  font-family: "Outfit", sans-serif;
}
